@page "/"
@using theonlytool.Pages.Components

<PageTitle>Home</PageTitle>

<MudGrid>
    <MudItem xs="12" md="3" Class="mt-16">
        <div class="docs-sticky-info explore-text">
            <MudText Typo="Typo.h5">Data Tools</MudText>
            <MudText Typo="Typo.subtitle1">…</MudText>
        </div>
    </MudItem>
    <MudItem xs="12" md="9" Class="mt-16">
        <div class="explore-mudblazor-items">
            <ToolCard Title="Base64 Encoder/Decoder" Link="/tools/base64">

            </ToolCard>
        </div>
    </MudItem>
</MudGrid>